%h1 Listing events

.row
  .span6
    %table.table 
      %thead
        %tr 
          %th Name
          %th Start 
          %th Duration 
          %th Frequency 
          %th Reserves 
          %th  
          %th  
          %th  

        - @events.each do |event|
          %tr 
            %td= event.name
            %td= event.start
            %td= event.duration
            %td= event.frequency
            %td= event.reserves
            %td= link_to 'Show', event
            %td= link_to 'Edit', edit_event_path(event)
            %td= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete

%br/

= link_to 'New Event', new_event_path 
