<%= form_for(@doorman) do |f| %>
  <% if @doorman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doorman.errors.count, "error") %> prohibited this doorman from being saved:</h2>

      <ul>
      <% @doorman.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
