<h1>Listing doormen</h1>

<table>
  <tr>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doormen.each do |doorman| %>
  <tr>
    <td><%= doorman.phone %></td>
    <td><%= link_to 'Show', doorman %></td>
    <td><%= link_to 'Edit', edit_doorman_path(doorman) %></td>
    <td><%= link_to 'Destroy', doorman, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Doorman', new_doorman_path %>
